// Breakpoints
$mq-breakpoints: (
  "wide": 1366px,
  "tab": 1100px,
  "medium": 768px,
);

// Fonts
$base-font-family: "Noto Sans JP", sans-serif;
$ttl-font-family: "Work Sans", sans-serif;
$sub-ttl-font-family: "Zen Kaku Gothic Antique", sans-serif;
$Cormorant-font-famliy: "Cormorant Garamond", serif;

// Colors
$ttl-text-color: #fff;
$base-text-color: #bbbaa6;
$bg-color: #0e100f;
$image-color: #0ae447;
