@use "../abstracts" as *;

#top {
  background-color: $bg-color;
  .main-content {
    width: 100%;
    &__wrap {
      display: grid;
      gap: 30px;
      width: 80%;
      margin: 0 auto;
      line-height: 1.5;
    }
  }
}
