@use "../abstracts" as *;

#top {
  background-color: $bg-color;
  .main-content {
    width: 100%;
    margin-bottom: 300px;
    &__wrap {
      display: grid;
      gap: 30px;
      width: 80%;
      margin: 0 auto;
      line-height: 1.5;
    }
  }
  .overlap-ttl {
    display: flex;
    width: 100%;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
  .overlap-layout {
    position: relative;
    width: 100%;
    height: 100dvh;
    &__item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100dvw;
      height: 100dvh;
      &[data-img="01"] {
        background: url("/assets/img/overlap-bg01.jpg") left top / cover
          no-repeat;
      }
      &[data-img="02"] {
        background: url("/assets/img/overlap-bg02.jpg") left top / cover
          no-repeat;
      }
      &[data-img="03"] {
        background: url("/assets/img/overlap-bg03.jpg") left top / cover
          no-repeat;
      }
    }
    &__wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      p {
        color: #fff;
        font-size: 50px;
      }
    }
  }
}
