doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="")
    meta(name="keywords", content="")
    title GSAPアニメーション
    meta(property="og:image", content="")
    link(rel="icon" href="")
    link(rel="stylesheet", href="/assets/css/style.css")
  body#top
    section.mv
      .mv-wrap 
        h1.mv-inner
          .mv-txt
            .mv-txt__item G
            .mv-txt__item S
            .mv-txt__item A 
            .mv-txt__item P
          .mv-txt
            .mv-txt__item p 
            .mv-txt__item r
            .mv-txt__item a
            .mv-txt__item c
            .mv-txt__item t
            .mv-txt__item i
            .mv-txt__item c
            .mv-txt__item e

        .mv-scroll__down scroll down

    section.main-content
      .main-content__wrap 
        .main-content__item.js-anim-fadeIn(data-item="01")
          p 夏の夕暮れ、空が赤く染まる時間帯は特別だ。暑さが和らぎ、微風が心地よく頬を撫でる。街の喧騒も少しずつ落ち着き、人々は一日の疲れを忘れようとするかのように、家路を急ぐ。公園のベンチに座っていると、子供たちの笑い声や遠くから聞こえる風鈴の音が、どこか懐かしい気持ちにさせる。
        .main-content__item.js-anim-fadeIn(data-item="02")
          p 夕焼け空には、オレンジやピンクのグラデーションが広がり、その美しさに思わず見とれてしまう。日が沈む瞬間、ほんの一瞬だけ、空が燃えるように赤く輝く。その光景は、まるで時間が止まったかのように感じられる。
        .main-content__item.js-anim-fadeIn(data-item="03")
          p そんな夏の夕暮れは、日常の忙しさを忘れ、心をリフレッシュさせる大切な時間だ。明日への活力をもらい、新たな一日を迎えるための静かなひととき。


    section.overlap-layout
      .overlap-layout__item(data-img="01")
        p 1番目の要素です
      .overlap-layout__item(data-img="02")
        p 2番目の要素です
      .overlap-layout__item(data-img="03")
        p 3番目の要素です


  script(src="/assets/js/app.js")

